<!--<link rel="stylesheet" type="text/css" href="/marketer/css/health.css">-->

<style>
	.screen .col-md-1{
		padding-right: 0;
	}
	.noData{
		font-size: 30px;
		width: 200px;
		margin: 50px auto;
		display: block;
		color: #dfdfdf;
	}
</style>

<div class="row"  ng-controller="OperatingRecordsController">
	<div class="col-md-12">
		<rd-widget>
			<rd-widget-header title="所有记录">
			</rd-widget-header>
			<rd-widget-body classes="auto no-padding">
				<div class="row">
					<div class="col-md-12" style="margin-top: 15px;">
						<form class="form form-horizontal screen">
							<!--<label class="control-label col-md-1">筛选</label>-->
							<!--<div class="col-md-1">-->
								<!--<select class="form-control" ng-options="key as value for (key, value) in sort.roles.list"-->
								        <!--ng-model="sort.roles.sel"></select>-->
							<!--</div>-->
							<label class="control-label col-md-1">卡号</label>
							<div class="col-md-1">
								<input type="text" placeholder="卡号" class="form-control " ng-model="search.cardCode"
								       ng-model-options="{updateOn:'default blur',debounce:{default:1000,blur:0}}"/>
							</div>
							<label class="control-label col-md-1">行为</label>
							<div class="col-md-1">
								<input type="text" placeholder="行为" class="form-control " ng-model="search.action"
								       ng-model-options="{updateOn:'default blur',debounce:{default:1000,blur:0}}"/>
							</div>
						</form>
					</div>
					<div class="col-md-12">
						<table class="table">
							<thead>
							<tr>
								<th>姓名</th>
								<th>卡号</th>
								<th>行为</th>
								<th class="col-md-4">内容</th>
								<th>积分</th>
								<th>余额(元)</th>
								<th>佣金</th>
								<th>等级</th>
								<th>优惠券</th>
								<th>服务</th>
								<th>时间</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="a in operatingList" on-finish-render>
								<td>{{a.card.nickname}}</td>
								<td>{{a.card.card_code}}</td>
								<td>{{a.action}}</td>
								<td>{{a.summary}}</td>
								<td>{{a.changes.bonus }}</td>
								<!--<td><span class="font-size:14px">+</span><span>100</span></td>-->
								<td>{{a.changes.balance}}</td>
								<td>{{a.changes.payCommission}}</td>
								<td>{{a.changes.level}}</td>
								<td>{{a.changes.ticket}}</td>
								<td>{{a.changes.property}}</td>
								<td>{{a.created_at}}</td>
							</tr>
							</tbody>
						</table>
						<div ng-show="operatingList.length==0">
							<span class="noData">暂无数据</span>
						</div>
					</div>
					<div class="table-page col-md-6 col-md-offset-3">
						<paging
								page="pages.nowPage"
								page-size="14"
								total="pages.total"
								scroll-top="true"
								hide-if-empty="true"
								show-prev-next="true"
								text-next="下一页"
								text-prev="上一页"
								text-title-page="第 {page} 页"
								text-title-next="下一页"
								text-title-prev="上一页">
						</paging>
					</div>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>


