<div mnk-keyboard class="keyboard container-fluid">
    
    <div mnk-key-group="number" mnk-default class="row">
        <button mnk-key="1" class="btn btn-default col-xs-4">1</button>
        <button mnk-key="2" class="btn btn-default col-xs-4">2</button>
        <button mnk-key="3" class="btn btn-default col-xs-4">3</button>
        <button mnk-key="4" class="btn btn-default col-xs-4">4</button>
        <button mnk-key="5" class="btn btn-default col-xs-4">5</button>
        <button mnk-key="6" class="btn btn-default col-xs-4">6</button>
        <button mnk-key="7" class="btn btn-default col-xs-4">7</button>
        <button mnk-key="8" class="btn btn-default col-xs-4">8</button>
        <button mnk-key="9" class="btn btn-default col-xs-4">9</button>
        <button mnk-key="CLEAR" class="btn btn-default col-xs-4">C</button>
        <button mnk-key="0" class="btn btn-default col-xs-4">0</button>
        <button mnk-key="." class="btn btn-default col-xs-4">.</button>
    </div>
    <div mnk-shortcut-group="empty" mnk-default  class="row">
        <button mnk-shortcut="" class="btn btn-default col-xs-12">Shortcut Bar</button>
    </div>
    <div mnk-shortcut-group="search" mnk-not-focus class="row">
        <button mnk-shortcut="" class="btn btn-default col-xs-12">Search</button>
    </div>
    <div mnk-shortcut-group="toPassword" class="row">
        <button mnk-shortcut="setFocus('.login-panel .password')" class="btn btn-default col-xs-12">To Password</button>
    </div>
    <div mnk-shortcut-group="login" class="row">
        <button mnk-shortcut="login()" class="btn btn-default col-xs-12">Login</button>
    </div>
    <div mnk-shortcut-group="choose" class="row">
        <button mnk-shortcut="choose(0)" class="btn btn-default col-xs-6">1nd</button>
        <button mnk-shortcut="choose(1)" class="btn btn-default col-xs-6">2nd</button>
    </div>
    <div mnk-shortcut-group="jiezhang" class="row">
        <button mnk-shortcut="quality('现金')" class="btn btn-default col-xs-6">现</button>
        <button mnk-shortcut="quality('刷卡')" class="btn btn-default col-xs-6">卡</button>
    </div>
     <div mnk-shortcut-group="init" class="row">
        <button mnk-shortcut="submit()" class="btn btn-default col-xs-12">OK</button>
    </div>
    <div mnk-shortcut-group="toNewPassword" class="row">
        <button mnk-shortcut="setFocus('.edit-password .newpassword')" class="btn btn-default col-xs-12">To New</button>
    </div>
     <div mnk-shortcut-group="toAgainPassword" class="row">
        <button mnk-shortcut="setFocus('.edit-password .againpassword')" class="btn btn-default col-xs-12">To Again</button>
    </div>
    <div mnk-shortcut-group="editpassword" class="row">
        <button mnk-shortcut="editPassword()" class="btn btn-default col-xs-12">Edit</button>
    </div>
     <div mnk-shortcut-group="search_commodity" mnk-not-focus class="row">
        <button mnk-shortcut="search()" class="btn btn-default col-xs-12">Search</button>
    </div>
</div> 