<div class="form-group">
    <label class="control-label col-md-1">LOGO</label>
    <div class="col-md-9">
        <textarea class="form-control" name="logo_url" ng-model="setting.value.logo_url" rows="3" required></textarea>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-1">店&nbsp;&nbsp;铺&nbsp;名</label>
    <div class="col-md-4">
        <input type="text" class="form-control" name="brand_name" ng-model="setting.value.brand_name" required>
    </div>
    <label class="control-label col-md-1">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</label>
    <div class="col-md-4">
        <input type="text" class="form-control" name="service_phone" ng-model="setting.value.service_phone" required>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-1">副&nbsp;&nbsp;标&nbsp;题</label>
    <div class="col-md-9">
        <input type="text" class="form-control" name="sub_title" ng-model="setting.value.sub_title">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-1">操作提示</label>
    <div class="col-md-9">
        <input type="text" class="form-control" name="notice" ng-model="setting.value.notice">
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-1">使用须知</label>
    <div class="col-md-9">
        <textarea class="form-control" name="description" ng-model="setting.value.description" rows="4"></textarea>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-1">入口名称</label>
    <div class="col-md-4">
        <input type="text" class="form-control" name="custom_url_name" ng-model="setting.value.custom_url_name" required>
    </div>
    <label class="control-label col-md-1">引&nbsp;&nbsp;导&nbsp;语</label>
    <div class="col-md-4">
        <input type="text" class="form-control" name="custom_url_sub_title" ng-model="setting.value.custom_url_sub_title" required>
    </div>
</div>
